.App {
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 87%);
  min-height: 100vh;
}

.content {
  height: 100vh;
  overflow-y: scroll;
  color: black;
}

.section {
  padding: 10px 10px;
  min-height: 100vh;
  background: rgb(223,223,223);
  background: linear-gradient(0deg, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 87%) 100%);
}