.Menu {
  border-right: 1px solid green;
  color: white;
  text-transform: uppercase;
  background-color: #282c34;
  min-width: 165px;
}

.Menu ul {
  padding: 0;
}

.Menu li {
  list-style: none;
}

.MenuItem {
  text-decoration-line: none;
  color: rgb(223, 223, 223);
  outline: none;
  display: flex;
  flex: 1 0 auto;
  padding: 5px 20px;
}

.ActiveMenuItem {
  color: white;
  font-weight: 700;
  background-color: hsl(220, 13%, 50%);
}

.MenuItem:hover {
  background-color: hsl(220, 13%, 40%);
}